<h1>ng-test</h1>

<!-- <app-hero-parent></app-hero-parent> -->
<!-- <app-name-parent></app-name-parent> -->
<!-- <app-version-parent></app-version-parent> -->
<!-- <app-vote-taker></app-vote-taker> -->
<!-- <app-countdown-parent></app-countdown-parent> -->

<!-- <app-countdown-parent-vc></app-countdown-parent-vc> -->

<!-- <app-mission-control></app-mission-control> -->

<!-- <app-ad-list></app-ad-list> -->

<!-- <p [appHighlight]="'yellow'">Highlight me!</p> -->

<!-- <app-unless-control></app-unless-control> -->

<!-- <app-exponential-control></app-exponential-control> -->

<!-- <app-power-boost-calculator></app-power-boost-calculator> -->

<!-- <app-flying-heroes></app-flying-heroes> -->

<app-hero-async-message></app-hero-async-message>
